<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="about">
    <header>
        <nav >
            <ul class="contenedor">
                <li><a href="/">HOME |</a></li>
                <li><a href="/about"> ABOUT |</a></li>
                <li><a href="/music"> MUSIC |</a></li>
                <li><a href="/contact"> CONTACT |</a></li>
            </ul>
        </nav>
        <div>Espacio para redes</div>
    </header>
    <main>
        <h1>ABOUT<BR>EMILIA//</h1>
        <article>
            <h2>"Seattle-based pop star makes her indie debut with a hauntingly beautiful album"</h2>
            <p>- John Tirckle, Music Today Post</p>
        </article>
        <article>
            <h2>"Emilia Cole is one of the scene's breakout stars"</h2>
            <p>- John Tirckle, Music Today Post</p>
        </article>
    </main>
    <footer>

    </footer>
    
</body>
</html>