<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="contact">
    <header>
        <nav >
            <ul type="none" class="contenedor">
                <li><a href="/">HOME |</a></li>
                <li><a href="/about"> ABOUT |</a></li>
                <li><a href="/music"> MUSIC |</a></li>
                <li><a href="/contact"> CONTACT |</a></li>
            </ul>
        </nav>
        <div>Espacio para redes</div>
    </header>
    <main>

    </main>
    <footer>
        
    </footer>
</body>
</html>