<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/76d25d6fff.js"></script>
</head>
<body class="home">
    <header>
        <nav class="menu">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <nav class="redes">
            <a><i class="fab fa-twitter-square"></i></a>
            <a><i class="fab fa-facebook-square"></i></a>
            <a><i class="fab fa-insstagram-square"></i></a>
            <a><i class="fab fa-spotify"></i></a>
            <a><i class="fab fa-apple"></i></a>
            <a><i class="fab fa-amazon"></i></a>
        </nav>
    </header>
    <main>
        <h2>EMILIA<br>COLE//</h2>
        <h1>TWIST IN MY REALITY</h1>
    </main>
    <footer>

    </footer>
    
</body>
</html>